
{% extends '__frames/main.html' %}
{% load static %}
{% load i18n %}

{% block headLinks %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/A.carousel.css%2bbbpress.css%2cMcc.aXsJ7_Y__m.css.pagespeed.cf.ERce4VkS3l.css' %}"/>

        <style>
                .owl-prev {
                        background-color: lightblue !important;
                }
        </style>
{% endblock headLinks %}



{% block bodyContent %}
{% comment %} SLIDER {% endcomment %}
<section class="slider-section">
        <div class="tp-banner-container">
        <div class="tp-banner">

                <ul>
                        
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-thumb="{% static 'upload/slider_new_01.jpg' %}" data-saveperformance="off" data-title="Slide">
                
                                <img src="{% static 'upload/xslider_new_01.jpg.pagespeed.ic.RgCY2ieSzC.jpg' %}" alt="fullslide1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                
                                <div class="tp-caption slider_layer_01 text-center lft tp-resizeme" data-x="center" data-y="220" data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                                <i class="fa fa-graduation-cap"></i> Learn<strong>PLUS</strong> Site Template
                                </div>
                
                                <div class="tp-caption slider_layer_02 text-center lft tp-resizeme" data-x="center" data-y="320" data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                                Great Theme For Education, University Learning Websites<br> with tons of options and custom sections!
                                </div>
                
                                <div class="tp-caption text-center lft tp-resizeme" data-x="center" data-y="390" data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                                        <a href="#" class="btn btn-default">Start Learning</a> <a href="#" class="btn btn-primary">Learn More</a>
                                </div>
                        </li>

                        <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-thumb="{% static 'upload/slider_new_03.jpg' %}" data-saveperformance="off" data-title="Slide">
                                <img src="{% static 'upload/xslider_new_03.jpg.pagespeed.ic.0dDeZb1yS7.jpg' %}" alt="fullslide1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <div class="tp-caption slider_layer_05 text-center lft tp-resizeme" data-x="center" data-y="140" data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                                        <i class="fa fa-graduation-cap"></i>
                                </div>

                                <div class="tp-caption slider_layer_01 text-center lft tp-resizeme" data-x="center" data-y="250" data-speed="1000" data-start="600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                                        Learning Management System
                                </div>

                                <div class="tp-caption slider_layer_02 text-center lft tp-resizeme" data-x="center" data-y="360" data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                                        Great Theme For Education, University Learning Websites<br> with tons of options and custom sections!
                                </div>
                                
                                <div class="tp-caption text-center lft tp-resizeme" data-x="center" data-y="440" data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"> 
                                        <a target="_blank" href="#" class="btn btn-primary">Purchase Now</a> 
                                        <a target="_blank" href="#" class="btn btn-default">Read More About</a>
                                </div>
                        </li>

                </ul>
        </div>
        </div>
</section>

        {% comment %} Bref Presentation {% endcomment %}

<section class="white section">

        <div class="row-fluid">

        <div class="col-md-6 myimg"></div>

        <div class="container">
                <section class="grey page-title">
                <div class="container">
                        <div class="row"> 

                                <div class="" >
                                        <h1 style="text-align:center; font-size:19px" >
                                                <i class="fa fa-graduation-cap fa-left"></i>
                                                Bienvenu à L'{{universite.nomUniversite}}
                                        </h1>
                                </div>
                        </div>
                </div>
                </section>

                <div class="row">
                        <div id="course-left-sidebar" class="col-md-4  ">
                                <h3 class="course-title">Président de l'université</h3>

                                <div class="course-image-widget">
                                        <img src="{% get_static_prefix %}{{president.photo}}" alt="" class="img-responsive">
                                        </div>
                                        <div class="course-meta">
                                        <p class="course-category">
                                                Professeur : {{president.nom}} {{president.prenom}}</p>
                                        <hr>
                                        <div class="rating">
                                                <p>Reviews : &nbsp;
                                                        <a title="" href="#reviews">&nbsp; (3)</a>
                                                </p>
                                        </div>
                                </div>
                        </div>
                        
                        <div class="col-md-6 col-md-offset-2">

                                <div class="section-container nopadding">

                                        <div class="textrotate" style="border:1px solid #eee">

                                                <ul class="bxslider">
                                                        <li>
                        
                                                        <div class="big-title">
                        
                                                        <p class="lead"></p>
                                                        <h3><span>NOTRE</span> MISSION</h3>
                                                        <div class="border-title"></div>
                                                        </div>
                                                        <p>{{universite.missionUniversite}} </p>
                                                                
                                                        </li>
                                                </ul>

                                        </div>
                                        
                                </div>
                        </div>
                </div>

                <div class="row">
                        <p>
                                <h1> Mot du president   </h1>
                                {{president.mots_du_president}}
                        </p>
                </div>
        </div>
        </div>
</section>

        {% comment %} Formation  {% endcomment %}

<section class="grey section">
        {{formations}}
        <div class="section-title text-center" style="margin-bottom:10px !important">
                <h4>Nos Formations</h4>
                <span>Filtrer par type d'établissement</span>
        </div>
        <div class="container">
        
                {% comment %} <div id="filters" class="filters-dropdown">
                        <ul class="option-set" data-option-key="filter">
                        <li><a href="#filter" class="selected" data-option-value="*">
                                <i class="fa fa-filter"></i> Etablissements</a>
                        </li>
                        <li><a href="#filter" data-option-value=".UFR">Unite de Recherce et de Formation</a></li>
                        <li><a href="#filter" data-option-value=".cat2">Ecoles</a></li>
                        <li><a href="#filter" data-option-value=".cat3">Institues </a></li>
                        <li><a href="#filter" data-option-value=".cat4">Ecoles Doctorales </a></li>
                        <li><a href="#filter" data-option-value=".cat4">Centres Universitaires </a></li>
                        </ul>
                </div> {% endcomment %}
        
        
                <div class="portfolio course-list">
                        {% for form in formations %}
                        <div class="item cat2">
                                <div class="shop-item-list entry">

                                        <div class="">
                                                <img src="{% get_static_prefix %}{{form.logo}}" alt="">
                                                <div class="magnifier">
                                        </div>
                                </div>

                                <div class="shop-item-title clearfix">
                                        <h4  style="text-align:center"><a href="course-single.html">{{form.accronyme}}</a></h4>
                                </div>
                                <div class="visible-buttons">
                                        <a title="Read More" href="course-single.html"><span class="fa fa-search"></span></a>
                                </div>
                        </div>
                        {% endfor %}
                </div>

                {% comment %} <div class="item cat3">
                        <div class="shop-item-list entry">
                                <div class="">
                                        <img src="{% static 'upload/xcourse_02.png.pagespeed.ic.PL7Wu2UcSB.png' %}" alt="">
                                        <div class="magnifier"></div>
                                </div>
                                <div class="shop-item-title clearfix">
                                        <h4><a href="course-single.html">Institue Superieur de Sante</a></h4>
                                </div>

                                <div class="visible-buttons">
                                        <a title="Read More" href="course-single.html"><span class="fa fa-search"></span></a>
                                </div>
                        </div>
                </div>

                <div class="item UFR">
                        <div class="shop-item-list entry">
                                <div class="">
                                        <img src="{% static 'upload/xcourse_03.png.pagespeed.ic.8e1MyY5M7i.png' %}" alt="">
                                        <div class="magnifier"></div>
                                </div>
                                <div class="shop-item-title clearfix">
                                        <h4><a href="course-single.html">Science Economique et de Gestion </a></h4>
                                </div>
                                <div class="visible-buttons">
                                        <a title="Read More" href="course-single.html"><span class="fa fa-search"></span></a>
                                </div>
                        </div>
                </div> {% endcomment %}

        </div>
</section>

        {% comment %} Actualites {% endcomment %}

<section class="white section" style="margin-bottom: 10px !imortant">
        <div class="container">
                <div class="section-title text-center">
                        <h4>Toute l'Actualite de L'Universite</h4>
                </div>
                {% for actualite in  actualities%}
                
                <br />
                <div class="row course-list">
                        
                        <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="shop-item-list entry">
                                        <div class="">
                                                <img src="{% get_static_prefix %}{{actualite.imageActualite}}" alt="">
                                                <div class="magnifier"></div>
                                        </div> 
                                </div>
                        </div>
                        
                         
                       <div class="col-md-8 col-md-8">
                                <div class="shop-list-desc">
                                        <h4><a href="course-single.html">{{actualite.intituleActualite}}</a></h4>
                                        <div class="shopmeta">
                                                <span class="pull-left"><strong>Auteur:</strong> {{actualite.auteurActualite}} </span>
                                        </div>

                                        <hr class="invis clearfix">
                                        <p>
                                                {{actualite.resumeActualite}}
                                        </p>
                                        <a href="course-single.html" class="btn btn-default btn-sm">Consulter</a>
                                </div>
                        </div>
                        
                        
                </div>
                {% endfor %}

                
                <div class="row">
                <div class="col-md-6 col-md-offset-4">
                        <a href="#" class="btn btn-primary btn-block">Voir plus</a>
                </div>
                </div>
        </div>
</section>
                
        {% comment %} Personnel  {% endcomment %}
<section class="white section" style="border-top:1px solid #eee; margin-top: 0 !important; padding-top:0 !important">

        <div class="container">
                <div class="row">
                        <div class="col-md-12">             
                                <div class="section-title text-center">
                                        <h4> Nos Enseignants</h4>
                                </div>
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-12">
                                <div id="bbpress-forums">
                                        <ul class="bbp-forums">
                                                <li class="bbp-header">
                                                        <ul class="forum-titles">
                                                                <li class="bbp-forum-info">Enseignant</li>
                                                                <li class="bbp-forum-topic-count">Etablissement</li>
                                                                {% comment %} <li class="bbp-forum-freshness">Spécialités</li> {% endcomment %}
                                                        </ul>
                                                </li>
                                                {% for enseignant in enseignants %} 
                                                <li class="bbp-body">
                                                        <ul class="forum type-forum">
                                                                <li class="bbp-forum-info">
                                                                        <img src="{% get_static_prefix %}{{enseignant.photoPersonnel}}" alt="" class="alignleft img-thumbnail">
                                                                        <a class="bbp-forum-title" href="#" title="General">
                                                                                <span>{{enseignant.nomPersonnel}}</span>
                                                                                <span>{{enseignant.prenomPersonnel}}</span>
                                                                        </a>
                                                                        <div class="bbp-forum-content"><span>{{enseignant.gradePersonnel}}</span></div>
                                                                </li>
                                                                <li class="bbp-forum-topic-count">{{enseignant.accronymeEtablissement}}</li>
                                                        </ul>
                                                </li>
                                                {% endfor %}

                                                

                                        </ul>
                                </div>
                        </div>
                </div>


                <div class="row">
                        <div class="col-md-12">
                                <nav class="text-center">
                                        <ul class="pagination">
                                                <li>
                                                        <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                        </a>
                                                </li>
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li>
                                                        <a href="#" aria-label="Next">
                                                                <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                </li>
                                        </ul>
                                </nav>
                        </div>
                </div>
        </div>
</section>

        {% comment %} Partenaire {% endcomment %}
<section class=" lightgrey section">
        <div class="container">
                <div class="row">
                        <div class="section-title text-center">
                                <h4>Nos Partenaires</h4>

                                <p>L'Universite Nazi Boni est en étroite Collaboration avec : </p>
                        </div>
                        <div id="owl-featured" class="owl-custom">
                                {% for part in partenaire %}
                                <img src="{% get_static_prefix %}{{part.logo}}" alt="" class="img-responsive img-thumbnail" >
                                {% endfor %}
                        </div>
                </div>
        </div>
</section>
{% endblock bodyContent %}



{% block jsContent %}
<script src="{% static 'js/bxslider.js.pagespeed.jm.X-sF7YFq4Y.js' %}"></script>
<script type="text/javascript">
        (function($){"use strict";$('.bxslider').bxSlider(
                {mode:'vertical',minSlides:1,maxSlides:1,slideMargin:0,pager:false,nextText:'<i class="fa fa-arrow-down"></i>',prevText:'<i class="fa fa-arrow-up"></i>',speed:1000,auto:true}
                );})(jQuery);
</script>


<script src="{% static 'js/isotope.js.pagespeed.jm.3o8H2mhlCK.js' %}"></script>
<script type="text/javascript">(function($){"use strict";$(window).load(function(){$('.portfolio').isotope(
        {itemSelector:'.item',layoutMode:'fitRows'});$('#filters a.selected').trigger("click");});$('#filters a').click(
                function(e){e.preventDefault();var selector=$(this).attr('data-option-value');$('.portfolio').isotope(
                        {filter:selector});$(this).parents('ul').find('a').removeClass('selected');$(this).addClass('selected');});jQuery(document).ready(
                                function($){$(window).resize();$Filter.find('a').click(function(){
        $Filter.find('ul li').not($(this)).removeClass('active');$(this).parent('li').addClass('active');});});})(jQuery);</script>
{% endblock jsContent %}