{% extends '__frames/main.html' %}

{% load static %}
{% load i18n %}


{% block bodyContent %}
<section class="grey page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h1  >Liste des Partenaires de l'Universite</h1>

            </div>
        </div>
    </div>
</section>


<section class="white section">
    <div class="container">

        <div class="row">
            
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'upload/xcourse_01.png.pagespeed.ic.XTOvCuUmZu.png' %}" alt="">
                        <div class="magnifier"></div>
                    </div>

                    <div class="shop-item-title clearfix">
                        <h4><a href="course-single.html">Institue Nationale de Santé</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'upload/xcourse_02.png.pagespeed.ic.PL7Wu2UcSB.png' %}" alt="">
                        <div class="magnifier"></div>
                    </div>
                    <div class="shop-item-title clearfix">
                        <h4><a href="course-single.html">Ecole Superieur d'Informatique</a></h4>
                    </div>
                </div>
            </div>

            
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="shop-item-list entry">
                    <div class="">
                        <img src="{% static 'upload/xcourse_02.png.pagespeed.ic.PL7Wu2UcSB.png' %}" alt="">
                        <div class="magnifier"></div>
                    </div>
                    <div class="shop-item-title clearfix">
                        <h4><a href="course-single.html">Ecole Superieur d'Informatique</a></h4>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

{% endblock bodyContent %}