{% extends '__frames/main.html' %}

{% load static %}
{% load i18n %}


{% block bodyContent %}

<section class="grey section">
    <div class="container">
        <div class="row">
            <div id="content" class="col-md-8 col-sm-8 col-xs-12">
                        <div class="blog-wrapper">
                            <div class="row second-bread">
                                <div class="col-md-6 text-left">
                                    <h1>Photo</h1>
                                </div>
                                <div class="col-md-6 text-right">
                                        <div class="bread">
                                            <ol class="breadcrumb">
                                                <li><a href=" {% url 'home' %} ">Accueil</a></li>
                                                <li class="active">Gallerie</li>
                                            </ol>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-wrapper">
                            <div class="blog-image">
                                <a href="single.html" title="">
                                    <img src="{% get_static_prefix %}{{universite.imageCouvertureUniversite}}" alt="" class="img-responsive"></a>
                            </div>
                            <div class="blog-desc">
                                <p>
                                    {{universite.VisionUniversite}}
                                </p>

                                <p>
                                    <h2 > Historique</h2>
                                     {{universite.descriptionUniversite}}
                                </p>

                                <p>
                                    <h2> Sites d'Enseignement</h2>
                                    {% for site in universite.site_univ %}
                                    <p></p>
                                    <div>
                                        <a href="#">{{site}}</a>
                                    </div>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
            
            
                <div id="sidebar" class="col-md-4 col-sm-4 col-xs-12">

                    <div class="widget" style="background-color: lightblue">
                        <div class="widget-title">
                        <h4>Presentation de l'Université</h4>
                        <hr>
                    </div>

                </div>
            
                <div class="widget">
                    <div class="widget-title">
                        <h4>Statistique</h4>
                        <hr>
                    </div>
                    <ul >
                        <li>
                            Nombres Etudiants: 
                        </li>

                        <li>
                            Nombre d'Enseignants: 
                        </li>
                        <li>
                            Nombre de Filère: 
                        </li>
                        <li>
                            <a href="#"> Documents Utiles </a>
                        </li>
                    </ul>
                </div>

                <div class="widget">
                    <div class="widget-title">
                        <h4>Lien Utile</h4>
                        <hr>
                    </div>
                    <div>
                        <ul class="latest-tweets">
                            <li>
                                <p><a href="#" title=""> twitter </a></p>
                            </li>
                            <li>
                                <p><a href="#" title="">FaceBook</a></p>
                            </li>
                            <li>
                                <p><a href="#" title="">Actualités</a></p>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
    
    
</section>
    
    
    

{% endblock bodyContent %}